<h1 mat-dialog-title>Hello Again</h1>
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  *ngIf="error.open"
>
  <span aria-hidden="true" (click)="closeError()">&times;</span>
  {{ error.message }}
</div>
<div mat-dialog-content>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="E-mail"
      aria-label="E-mail"
      aria-describedby="basic-addon1"
      [(ngModel)]="auth.email"
    />
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">*</span>
    </div>
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      aria-label="Password"
      aria-describedby="basic-addon1"
      [(ngModel)]="auth.password"
    />
  </div>
</div>
<div class="row mt-3">
  <div class="col-6">
    <button class="btn btn-outline-dark w-100" (click)="onCancel()">
      Cancel
    </button>
  </div>
  <div class="col-6">
    <button
      class="btn btn-primary w-100"
      (click)="onLogin()"
      [disabled]="auth.email === '' || auth.password === ''"
    >
      Login
    </button>
  </div>
</div>
