<section class="mt-5">
  <h1>Tasks</h1>
  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    *ngFor="let error of errorList"
  >
    <span aria-hidden="true" (click)="closeError(error)">&times;</span>
    {{ error.message }}
  </div>
  <div *ngIf="message !== ''">
    <h3 class="text-white">
      {{ message }}
    </h3>
  </div>
  <div *ngFor="let task of tasks">
    <mat-card
      *ngIf="taskToEdit.id !== task.id"
      [class]="{ done: task.completed }"
      class="mb-2"
    >
      <div class="row">
        <div class="col-11">
          <mat-checkbox
            class="example-margin"
            [checked]="task.completed"
            (click)="toggleTask(task)"
            >{{ task.title }}</mat-checkbox
          >
        </div>
        <div class="col-1">
          <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button (click)="toggleEditTaskForm(task)" mat-menu-item>
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button (click)="removeTask(task)" mat-menu-item>
              <mat-icon>close</mat-icon>
              Remove
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-card>
    <app-task-form
      *ngIf="taskToEdit.id === task.id"
      [task]="task"
      [tasks]="tasks"
      (editTask)="editTask($event)"
      (toggleEditTaskForm)="toggleEditTaskForm($event)"
    ></app-task-form>
  </div>
  <div class="mt-3">
    <app-task-form
      *ngIf="showAddTaskForm"
      [tasks]="tasks"
      (addTask)="addTask($event)"
      (toggleAddTaskForm)="toggleAddTaskForm()"
    ></app-task-form>
    <button
      class="btn btn-light w-100"
      (click)="toggleAddTaskForm()"
      *ngIf="!showAddTaskForm"
    >
      + Add task
    </button>
  </div>
</section>
